/.build*/
/dlfcn
/download_*
/vulkan
/abi_diff
/arch_smoke
/bionic_test
/corpus
/corpus_load
/fetch
/pthread_bridge
/pthread_test
/secure_probe
/secure_target
/secure_test
/smoke
/solo
/test
/vulkan_test
