# Ignore everything
*
build/
test/

# Except the Dockerfile and the necessary directories/files
!build/meta
!build/tools.json
!build/meta.json
!doc
!cmake
!CMakeLists.txt
!sources/
!src/
!docker/
!bin/
!mime/
!.git/
